@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Changa:wght@200..800&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Gugi&family=Magra:wght@400;700&family=Manuale:ital,wght@0,300..800;1,300..800&family=Metamorphous&family=Nova+Round&family=Prosto+One&family=Redressed&family=Stick+No+Bills:wght@200..800&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 


/* ============== DOWNLOADED FONTS ==============*/
@font-face {
    font-family: 'safiro';
    src: url('./assets/fonts/safiro-medium-webfont.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'doumbar';
    src:  url('./assets/fonts/doumbar-medium-webfont.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
}


.title-font {
  font-family: 'doumbar';
  
}

.fontTitle {
  font-family: 'safiro';
}


/* === CSS FOR EMAIL FLASHING ANIMATION IN CONTACT SECTION === */
@keyframes fadeInOut {
  0% { opacity: 0; } /* Adjust the ending opacity to not fully disappear */
 
  100% { opacity: 1; }
}

.revealText {
  animation: fadeInOut .5s ease-in-out forwards;
}

/* === CSS FOR 'COPIED' TEXT VISIBILITY IN CONTACT SECTION === */
.copiedTextVisible {
  visibility: visible;
  opacity: 1;
  transition: opacity 5s ease-in-out;
}

.copiedTextHidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out; /* Delay hiding until after fade */
}

/* ========== SLIDING TEXT FROM LEFT & RIGHT ==========*/
@keyframes slideInTextFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTextFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.textSlidingLeft {
  animation: slideInTextFromLeft 1s ease-out forwards;
}

.textSlidingRight {
  animation: slideInTextFromRight 1s ease-out forwards;
}


/* =============== RANDOM LETTER REVEAL ================ */
.letter-container span {
  opacity: 0;
  transition: opacity .1s linear;
}

.letter-container .revealed {
  opacity: 1;
}

/* ============ GRADIENT TEXT ============ */
.app-title {
  background: linear-gradient(to right,
    rgb(16, 185, 129), rgb(134, 58, 205) 95%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


/* ============== NAV LINKS NAVIGATION ============== */


/* ============== LOGO SPINNING TEXT ============= */

.spinning-text {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  animation: spin 15s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/*=========== MOTION TEXT ===========*/

@keyframes slideLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes rotateIcon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.rotating-icon {
  animation: rotateIcon 3s linear infinite;
}


.motion-text {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: slideLeft 30s linear infinite;
}

/* ============= SCROLL BAR CUSTOMIZATION ============== */
/* This will style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* This will style the actual scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* This will change the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* This styles the overall scrollbar (width, height) */
::-webkit-scrollbar {
  width: 10px;
}


/* =========== LINK ANIMATION REACH OUT HERO =========== */

.button {
  display: flex;
  flex-direction: column;
  font-size: 5rem; /* Adjusted font size */
  font-weight: 500;
  text-transform: uppercase;
  color: #ff637f; /* Example purple, replace with your class or variable */
  width: 100%;
  position: relative; /* Ensure positioning context for absolute children */
  overflow: hidden; /* Hide parts of the text that move outside the button */
  cursor: pointer; /* Optional: Changes the cursor on hover */
}


.textContainer {
  position: relative;
  height: 1.3em; /* Adjust based on your font size to fit one line of text */
  white-space: nowrap; /* Prevents the text from wrapping */
}

.text {
  display: block;
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  white-space: nowrap; /* Prevents the text from wrapping */
}

.firstText {
  opacity: 1;
  transform: translateY(0);
}

.secondText {
  transform: translateY(100%);
}

.button:hover .firstText {
  transform: translateY(-100%);
  opacity: 0;
}

.button:hover .secondText {
  color: #a1a1aa;
  transform: translateY(0);
  opacity: 1;
}

.icon {
  color: #ff637f;
  font-size: 5rem;
}

.button:hover .icon {
  color: #a1a1aa;
}

/* =========== CARDS STACKING =========== */

.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Added to establish a stacking context */
  padding-bottom: 100vh; /* Ensure there's enough space to scroll and see the sticky effect */
  z-index: 10;

  
}
.card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 100px;
  z-index: 20;
  padding: 3rem 4rem 8rem 6rem;
  margin: 8rem 0; /* Add some space between cards */
}

/* Adjust the top values based on your design needs */
.card:nth-child(1) {
  top: 80px; 
}

.card:nth-child(2) {
  top: 220px; 
}

.card:nth-child(3) {
  top: 370px; 
  
}


/* ============= GLITCH EFFECT =============== */
@keyframes glitchCharacter {
  0%, 100% {
    opacity: 1;
    transform: none;
    text-shadow: none;
  }
  10%, 30%, 50%, 70% {
    opacity: 0.8;
    transform: translate3d(-1px, 0, 0) scale3d(-1, -1, 1);
    text-shadow: 1px 0 red;
  }
  20%, 40%, 60%, 80% {
    opacity: 0.8;
    transform: translate3d(1px, 0, 0) scale3d(1, 1, 1);
    text-shadow: -1px 0 blue;
  }
}

.glitch span {
  display: inline-block;
  animation: glitchCharacter 2s infinite linear alternate-reverse;
}


/* =========== LINKS HOVER BACKGROUND-FILLING ANIMATION ============ */
.fillOnHover:hover {
  box-shadow: inset 200px 0 0 0 #ff637f;
  color: #d4d4d4;
  font-weight: 500;
}


/* =========== GRAINY BG ============ */

.custom-bg {
  width: 460px;
  height: 500px;
  background: 
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(180%) brightness(600%);
  background-size: cover;
  background-position: center;
}

.container-bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f7778e, rgba(0, 0, 0, 0)), 
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(180%) brightness(100%);
  background-size: cover;
  background-position: center;
}


@layer base {
    html, body {
        @apply w-full h-full box-border  m-0 p-0 bg-zinc-900;
    }

    a {
      @apply cursor-pointer
    }
}

@layer utilities {

  /* ============== NAVBAR LINKS ANIMATION =============== */
  .nav-link {
        @apply relative tracking-[1px] hover:text-salmon-400
    }

    .active-link {
      @apply text-salmon-400;
    }
    .active-link::after {
        @apply content-[''] bg-zinc-300 h-[2px] w-[0%] left-0 top-[50%] -rotate-[10deg] rounded-xl absolute duration-500
    }

    .active-link::after {
        @apply w-[100%] 
    }

    .about-title {                             
      @apply w-full fontTitle uppercase text-[4rem] text-zinc-900 font-[900] mb-12
    }

    .about-text {                             
      @apply w-full font-ibm text-[2.2rem] font-[300] text-zinc-900 tracking-wider leading-tight
    }

    
    

}





/*
pink: rgb(252, 194, 204)
tiffany blue: rgb(192, 250, 248)
green: rgb(220, 252, 229)
yellow: rgb(252, 240, 220)
*/

